#status {
	font-size: 40px;
}

section {
	position: relative;
	display: block;
	height: 350px;
	width: 350px;
}


div.square {
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	background: #CBC8C9;
	color: #F80B0E;
	ta
}

div span {
	position: absolute;
	bottom: 0;
	left: 15px;
	padding: 0;
	margin: 0;
	font-size: 90px;

}