body {
	text-align: center;
	
}

.square {
	width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	border: 2px;
	border-style: solid;
	border-color: black;

}

table {
	margin: auto;
}

button {
	font-size: 20px;

}

#red_background {
	background-color: red;
}

#yellow_background {
	background-color: yellow;
}

