table {
	width: 350px;
	height: 320px;
	border: 2px solid black;
}

td {
	border: 1px solid grey;
	margin: 3px 2px;
	font-size: 30px;
	width: 100px;
  	height: 100px;
  	text-align: center;
}

p{
	width: 350px;
	text-align: center;
	font-size: 25px;
	margin: 10px 0;
	color: orange;
}

h2 {
	border: 1px solid black;
	font-size: 25px;
	width: 350px;
	height: 30px;
	text-align: center;
	color: black;
}

.red {
	background-color: red;
}